<!doctype html>
<html lang="en" class="notranslate" translate="no">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Dowload videos Facebook free 1080P 2K, 4K - FbLink</title>
    <meta name="description" content="Download private videos from Facebook for free, quickly and easily with FbLink.id! Supports many devices and high quality"/>
    <meta itemprop="image" content=""/>

    <meta name="robots" content="index, follow"/>
    <!--    Thẻ quy định nội dung hiển thị khi preview trên mạng xã hội Twitter-->
    <meta name="twitter:card" content="fblink.id.vn">
    <meta name="twitter:title" content="Dowload videos Facebook free 1080P 2K, 4K - FbLink">
    <meta name="twitter:description" content="Download private videos from Facebook for free, quickly and easily with FbLink.id! Supports many devices and high quality.">
    <meta name="twitter:image:src" content="/image/fb-icon.png">
    <meta name="twitter:site" content="fblink.id.vn">
    <!--
    Thẻ quy định nội dung hiển thị khi preview trên mạng xã hội Facebook
  -->
    <meta property="og:title" content="Dowload videos Facebook free 1080P 2K, 4K - FbLink">
    <meta property="og:type" content="article">
    <meta property="og:image" content="/image/fb-icon.png">
    <meta property="og:description" content="Download private videos from Facebook for free, quickly and easily with FbLink.id! Supports many devices and high quality.">
    <meta property="og:site_name" content="fblink.id.vn">
    <meta name="google-site-verification"
          content="5s7-yBnMnGoGWZ8rr8L6ZvuB4uU56j7kEOiUh1l3ZDc" />
    <!-- Quy định icon cho thiết bị iphone-->
    <link rel="apple-touch-icon" sizes="192x192" href="/image/fb-icon.png">

    <!--  quy định icon hiển thị trên trình duyệt -->
    <link rel="shortcut icon" href="/image/fb-icon.png" />
    <!--  báo hiệu google không dịch nội dung website  -->
    <meta name="google" content="notranslate" />

    <!--  liệt kê các phiên bản ngôn ngữ khác mà website hỗ trợ -->
    <link rel="alternate" hreflang="x-default" href="https://fblink.id.vn/"/>
    <link rel="canonical" href="https://fblink.id.vn/"/>
    <link rel="alternate" hreflang="af" href="https://fblink.id.vn/af"/>
    <link rel="alternate" hreflang="sq" href="https://fblink.id.vn/sq"/>
    <link rel="alternate" hreflang="am" href="https://fblink.id.vn/am"/>
    <link rel="alternate" hreflang="ar" href="https://fblink.id.vn/ar"/>
    <link rel="alternate" hreflang="hy" href="https://fblink.id.vn/hy"/>
    <link rel="alternate" hreflang="az" href="https://fblink.id.vn/az"/>
    <link rel="alternate" hreflang="eu" href="https://fblink.id.vn/eu"/>
    <link rel="alternate" hreflang="be" href="https://fblink.id.vn/be"/>
    <link rel="alternate" hreflang="bn" href="https://fblink.id.vn/bn"/>
    <link rel="alternate" hreflang="bs" href="https://fblink.id.vn/bs"/>
    <link rel="alternate" hreflang="bg" href="https://fblink.id.vn/bg"/>
    <link rel="alternate" hreflang="ca" href="https://fblink.id.vn/ca"/>
    <link rel="alternate" hreflang="cab" href="https://fblink.id.vn/cab"/>
    <link rel="alternate" hreflang="zh-CN" href="https://fblink.id.vn/zh-CN"/>
    <link rel="alternate" hreflang="zh-TW" href="https://fblink.id.vn/zh-TW"/>
    <link rel="alternate" hreflang="co" href="https://fblink.id.vn/co"/>
    <link rel="alternate" hreflang="hr" href="https://fblink.id.vn/hr"/>
    <link rel="alternate" hreflang="cs" href="https://fblink.id.vn/cs"/>
    <link rel="alternate" hreflang="da" href="https://fblink.id.vn/da"/>
    <link rel="alternate" hreflang="nl" href="https://fblink.id.vn/nl"/>
    <link rel="alternate" hreflang="en" href="https://fblink.id.vn/en"/>
    <link rel="alternate" hreflang="eo" href="https://fblink.id.vn/eo"/>
    <link rel="alternate" hreflang="et" href="https://fblink.id.vn/et"/>
    <link rel="alternate" hreflang="fi" href="https://fblink.id.vn/fi"/>
    <link rel="alternate" hreflang="fr" href="https://fblink.id.vn/fr"/>
    <link rel="alternate" hreflang="fy" href="https://fblink.id.vn/fy"/>
    <link rel="alternate" hreflang="gl" href="https://fblink.id.vn/gl"/>
    <link rel="alternate" hreflang="ka" href="https://fblink.id.vn/ka"/>
    <link rel="alternate" hreflang="de" href="https://fblink.id.vn/de"/>
    <link rel="alternate" hreflang="el" href="https://fblink.id.vn/el"/>
    <link rel="alternate" hreflang="gu" href="https://fblink.id.vn/gu"/>
    <link rel="alternate" hreflang="ht" href="https://fblink.id.vn/ht"/>
    <link rel="alternate" hreflang="ha" href="https://fblink.id.vn/ha"/>
    <link rel="alternate" hreflang="haw" href="https://fblink.id.vn/haw"/>
    <link rel="alternate" hreflang="iw" href="https://fblink.id.vn/iw"/>
    <link rel="alternate" hreflang="hi" href="https://fblink.id.vn/hi"/>
    <link rel="alternate" hreflang="hmn" href="https://fblink.id.vn/hmn"/>
    <link rel="alternate" hreflang="hu" href="https://fblink.id.vn/hu"/>
    <link rel="alternate" hreflang="is" href="https://fblink.id.vn/is"/>
    <link rel="alternate" hreflang="ig" href="https://fblink.id.vn/ig"/>
    <link rel="alternate" hreflang="ga" href="https://fblink.id.vn/ga"/>
    <link rel="alternate" hreflang="it" href="https://fblink.id.vn/it"/>
    <link rel="alternate" hreflang="ja" href="https://fblink.id.vn/ja"/>
    <link rel="alternate" hreflang="jw" href="https://fblink.id.vn/jw"/>
    <link rel="alternate" hreflang="kn" href="https://fblink.id.vn/kn"/>
    <link rel="alternate" hreflang="kk" href="https://fblink.id.vn/kk"/>
    <link rel="alternate" hreflang="km" href="https://fblink.id.vn/km"/>
    <link rel="alternate" hreflang="ko" href="https://fblink.id.vn/ko"/>
    <link rel="alternate" hreflang="ku" href="https://fblink.id.vn/ku"/>
    <link rel="alternate" hreflang="ky" href="https://fblink.id.vn/ky"/>
    <link rel="alternate" hreflang="lo" href="https://fblink.id.vn/lo"/>
    <link rel="alternate" hreflang="la" href="https://fblink.id.vn/la"/>
    <link rel="alternate" hreflang="lv" href="https://fblink.id.vn/lv"/>
    <link rel="alternate" hreflang="lt" href="https://fblink.id.vn/lt"/>
    <link rel="alternate" hreflang="lb" href="https://fblink.id.vn/lb"/>
    <link rel="alternate" hreflang="mk" href="https://fblink.id.vn/mk"/>
    <link rel="alternate" hreflang="mg" href="https://fblink.id.vn/mg"/>
    <link rel="alternate" hreflang="ms" href="https://fblink.id.vn/ms"/>
    <link rel="alternate" hreflang="ml" href="https://fblink.id.vn/ml"/>
    <link rel="alternate" hreflang="mt" href="https://fblink.id.vn/mt"/>
    <link rel="alternate" hreflang="mi" href="https://fblink.id.vn/mi"/>
    <link rel="alternate" hreflang="mr" href="https://fblink.id.vn/mr"/>
    <link rel="alternate" hreflang="mn" href="https://fblink.id.vn/mn"/>
    <link rel="alternate" hreflang="my" href="https://fblink.id.vn/my"/>
    <link rel="alternate" hreflang="ne" href="https://fblink.id.vn/ne"/>
    <link rel="alternate" hreflang="no" href="https://fblink.id.vn/no"/>
    <link rel="alternate" hreflang="ny" href="https://fblink.id.vn/ny"/>
    <link rel="alternate" hreflang="ps" href="https://fblink.id.vn/ps"/>
    <link rel="alternate" hreflang="fa" href="https://fblink.id.vn/fa"/>
    <link rel="alternate" hreflang="pl" href="https://fblink.id.vn/pl"/>
    <link rel="alternate" hreflang="pt" href="https://fblink.id.vn/pt"/>
    <link rel="alternate" hreflang="pa" href="https://fblink.id.vn/pa"/>
    <link rel="alternate" hreflang="ro" href="https://fblink.id.vn/ro"/>
    <link rel="alternate" hreflang="ru" href="https://fblink.id.vn/ru"/>
    <link rel="alternate" hreflang="sm" href="https://fblink.id.vn/sm"/>
    <link rel="alternate" hreflang="gd" href="https://fblink.id.vn/gd"/>
    <link rel="alternate" hreflang="sr" href="https://fblink.id.vn/sr"/>
    <link rel="alternate" hreflang="st" href="https://fblink.id.vn/st"/>
    <link rel="alternate" hreflang="sn" href="https://fblink.id.vn/sn"/>
    <link rel="alternate" hreflang="sd" href="https://fblink.id.vn/sd"/>
    <link rel="alternate" hreflang="si" href="https://fblink.id.vn/si"/>
    <link rel="alternate" hreflang="sk" href="https://fblink.id.vn/sk"/>
    <link rel="alternate" hreflang="sl" href="https://fblink.id.vn/sl"/>
    <link rel="alternate" hreflang="so" href="https://fblink.id.vn/so"/>
    <link rel="alternate" hreflang="es" href="https://fblink.id.vn/es"/>
    <link rel="alternate" hreflang="su" href="https://fblink.id.vn/su"/>
    <link rel="alternate" hreflang="sw" href="https://fblink.id.vn/sw"/>
    <link rel="alternate" hreflang="sv" href="https://fblink.id.vn/sv"/>
    <link rel="alternate" hreflang="tl" href="https://fblink.id.vn/tl"/>
    <link rel="alternate" hreflang="tg" href="https://fblink.id.vn/tg"/>
    <link rel="alternate" hreflang="ta" href="https://fblink.id.vn/ta"/>
    <link rel="alternate" hreflang="te" href="https://fblink.id.vn/te"/>
    <link rel="alternate" hreflang="th" href="https://fblink.id.vn/th"/>
    <link rel="alternate" hreflang="tr" href="https://fblink.id.vn/tr"/>
    <link rel="alternate" hreflang="uk" href="https://fblink.id.vn/uk"/>
    <link rel="alternate" hreflang="ur" href="https://fblink.id.vn/ur"/>
    <link rel="alternate" hreflang="uz" href="https://fblink.id.vn/uz"/>
    <link rel="alternate" hreflang="vi" href="https://fblink.id.vn/vi"/>
    <link rel="alternate" hreflang="cy" href="https://fblink.id.vn/cy"/>
    <link rel="alternate" hreflang="xh" href="https://fblink.id.vn/xh"/>
    <link rel="alternate" hreflang="yi" href="https://fblink.id.vn/yi"/>
    <link rel="alternate" hreflang="yo" href="https://fblink.id.vn/yo"/>
    <link rel="alternate" hreflang="zu" href="https://fblink.id.vn/zu"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="stylesheets/style.css" />

    <link rel="icon" href="/image/fb-icon.png" />

  </head>
<body>
<header>
  <div class="logo" href="/">FbLink</div>
    <a class="btn text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      LANGUAGE
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a href="/en" class="dropdown-item">English</a></li>
      <li><a href="/vi" class="dropdown-item">Tiếng Việt</a></li>
      <li><a href="/id" class="dropdown-item">Bahasa Indonesia</a></li>
      <li><a href="/ms" class="dropdown-item">Bahasa Malaysia</a></li>
      <li><a href="/hi" class="dropdown-item">हिन्दी</a></li>
      <li><a href="/pt" class="dropdown-item">Português</a></li>
      <li><a href="/cs" class="dropdown-item">čeština</a></li>
      <li><a href="/jv" class="dropdown-item">Basa Jawa</a></li>
      <li><a href="/ko" class="dropdown-item">한국어</a></li>
      <li><a href="/it" class="dropdown-item">Italiano</a></li>
      <li><a href="/fr" class="dropdown-item">Français</a></li>
      <li><a href="/uk" class="dropdown-item">українська мова</a></li>
      <li><a href="/th" class="dropdown-item">ภาษาไทย</a></li>
      <li><a href="/ru" class="dropdown-item">русский</a></li>
      <li><a href="/es" class="dropdown-item">Español</a></li>
      <li><a href="/bn" class="dropdown-item">বাংলা</a></li>
      <li><a href="/pa" class="dropdown-item">ਪੰਜਾਬੀ</a></li>
      <li><a href="/tr" class="dropdown-item">Turkish</a></li>
      <li><a href="/de" class="dropdown-item">German</a></li>
      <li><a href="/ja" class="dropdown-item">日本語</a></li>
      <li><a href="/ro" class="dropdown-item">Romanian</a></li>
    </div>
</header>

<div class="horizontal-rule"></div>
<main>
  <div class="form-container" id="videoForm">
    <h1 class="title"><%= __('main_title')%></h1>
    <p class=" text-center "><%= __('main_title-1')%></p>
    <form
          class="w-100 d-flex flex-column flex-sm-row align-items-sm-end justify-content-center mt-3">

      <div id="input_container">

        <div class="input-group">
          <input id="url" type="text" class="form-control shadow-none inputText" name="url" placeholder="<%= __('input_placeholder')%>"  >
          <span id="pasteButton" class="input-group-text fw-bold px-4 is-paste" style="color: #0c0d0d !important; border-radius: 0 4px 4px 0;">
              <div class="d-flex align-items-center justify-content-center">
                <img class="mx-1" src="/image/paste.png" style="height: 1.1rem; width: 1.1rem" alt="paste">
                <%= __('paste')%>
              </div>
         </span>
          <span id="clearButton" class="input-group-text fw-bold px-4 is-paste" style="color: #0c0d0d !important; display: none; border-radius: 0 4px 4px 0;">
            <div class="d-flex align-items-center justify-content-center">
             <img class="mx-1" src="/image/clear.png" style="height: 1.1rem; width: 1.1rem" alt="clear">
               <%= __('clean')%>
            </div>
           </span>
        </div>
      </div>
      <button class="button btn btn-success p-2 p-sm-3 mx-sm-2" type="submit">
        <img class="img-button mx-1" src="/image/download.png" style="height: 1.3rem; width: 1.3rem" alt="downloading">
        <%= __('button_text')%></button>
    </form>
  </div>

<!--  error url-->
  <div class="d-flex justify-content-center">
    <div id="error-message" class="text-danger mt-2 bg-warning p-2 border rounded-pill w-50 text-center" style="display: none;"></div>
  </div>

  <!-- Loading Modal -->
  <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-transparent border-0">
        <div class="modal-body text-center">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- video and dowload -->
  <div class="d-flex justify-content-center">
    <div id="videoContainer" class="card " style="display: none;">
      <div class="card-body">
        <video id="videoPlayer" class="video" controls>
          <source id="videoSource" type="video/mp4">
          Trình duyệt của bạn không hỗ trợ thẻ video.
        </video>
        <div id="downloadLinks" class="mt-3 m-2"></div>
      </div>
    </div>
  </div>

  <!-- Custom JS -->
  <script>

  document.addEventListener('DOMContentLoaded', function () {
    const pasteButton = document.getElementById('pasteButton');
    const clearButton = document.getElementById('clearButton');
    const urlInput = document.getElementById('url');

    function handlePasteClick() {
      navigator.clipboard.readText().then(text => {
        console.log('Pasting text:', text);
        urlInput.value = text;
        showClearButton();
      }).catch(err => {
        console.error('Failed to read clipboard contents:', err);
      });
    }

    function handleClearClick() {
      console.log('Clearing input');
      urlInput.value = '';
      showPasteButton();
    }

    function showClearButton() {
      console.log('Showing clear button');
      pasteButton.style.display = 'none';
      clearButton.style.display = 'flex';
    }

    function showPasteButton() {
      console.log('Showing paste button');
      pasteButton.style.display = 'flex';
      clearButton.style.display = 'none';
    }

    pasteButton.addEventListener('click', handlePasteClick);
    clearButton.addEventListener('click', handleClearClick);

    urlInput.addEventListener('input', function () {
      if (urlInput.value) {
        showClearButton();
      } else {
        showPasteButton();
      }
    });

    // Initialize
    console.log('Initializing');
    showPasteButton();
  });

    document.getElementById('videoForm').addEventListener('submit', async function(event) {
      event.preventDefault();
      const url = document.getElementById('url').value;
      const errorMessage = document.getElementById('error-message');

      const facebookVideoRegex = /^(https?:\/\/)?(www\.)?(facebook\.com|fb\.watch)\/.+$/;

      if (!url) {
        errorMessage.textContent = '<%= __('input_placeholder-error')%>';
        errorMessage.style.display = 'block';
        return;
      } else if (!facebookVideoRegex.test(url)) {
        errorMessage.textContent = '<%= __('input_placeholder-error-1')%>';
        errorMessage.style.display = 'block';
        return;
      } else {
        errorMessage.style.display = 'none';
      }

      // Show loading modal
      $('#loadingModal').modal('show');

      try {
        const response = await fetch('/facebook-private-video-downloader', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ url })
        });
        const data = await response.json();

        if (!response.ok) {
          errorMessage.textContent = data.error;
          errorMessage.style.display = 'block';
          $('#loadingModal').modal('hide');
          return;
        }

        errorMessage.style.display = 'none';
        document.getElementById('videoForm').style.display = 'none'; // Hide the form
        document.getElementById('videoContainer').style.display = 'block'; // Show the video container
        const videoPlayer = document.getElementById('videoPlayer');
        document.getElementById('videoSource').src = data.hd.url;
        videoPlayer.load();

        const downloadLinks = document.getElementById('downloadLinks');


        if (data.hd || data.sd) {
          const headerRow = document.createElement('div');
          headerRow.className = 'header';

          const headerQuality = document.createElement('div');
          headerQuality.innerHTML = '<%= __('title_quality')%>';
          headerRow.appendChild(headerQuality);

          const headerRender = document.createElement('div');
          headerRender.innerHTML = 'Render <span title="Render information" class="show-guide text-success">[?]</span>';
          headerRow.appendChild(headerRender);

          const guideElement = document.getElementById('renderGuide');
          const showGuideBtn = headerRender.querySelector('.show-guide');

          showGuideBtn.addEventListener('click', () => {
            guideElement.scrollIntoView({ behavior: 'smooth' });
          });

          const headerDownload = document.createElement('div');
          headerDownload.innerHTML = '<%= __('button_save')%>';
          headerRow.appendChild(headerDownload);

          downloadLinks.appendChild(headerRow);
        }

        if (data.hd) {
          const hdRow = document.createElement('div');
          hdRow.className = 'rows';

          const hdQuality = document.createElement('div');
          hdQuality.innerHTML = data.hd.quality || '720p (HD)';
          hdRow.appendChild(hdQuality);

          const hdRender = document.createElement('div');
          hdRender.innerHTML = data.hd.render || 'No';
          hdRow.appendChild(hdRender);

          const hdDownload = document.createElement('div');
          const hdLink = document.createElement('a');
          hdLink.href = data.hd.url;
          hdLink.className = 'btn btn-secondary button-load';
          hdLink.innerHTML = '<%= __('button_save')%>';
          hdDownload.appendChild(hdLink);
          hdRow.appendChild(hdDownload);

          downloadLinks.appendChild(hdRow);
        }

        // Add a horizontal line if both HD and SD exist
        if (data.hd && data.sd) {
          const hr = document.createElement('hr');
          downloadLinks.appendChild(hr);
        }

        if (data.sd) {
          const sdRow = document.createElement('div');
          sdRow.className = 'rows';

          const sdQuality = document.createElement('div');
          sdQuality.innerHTML = data.sd.quality || '360p (SD)';
          sdRow.appendChild(sdQuality);

          const sdRender = document.createElement('div');
          sdRender.innerHTML = data.sd.render || 'No';
          sdRow.appendChild(sdRender);

          const sdDownload = document.createElement('div');
          const sdLink = document.createElement('a');
          sdLink.href = data.sd.url;
          sdLink.className = 'btn btn-secondary button-load';
          sdLink.innerHTML = '<%= __('button_save')%>';
          sdDownload.appendChild(sdLink);
          sdRow.appendChild(sdDownload);

          downloadLinks.appendChild(sdRow);
        }
        // Add a horizontal line if both HD and SD exist
        if (data.hd && data.sd) {
          const hr = document.createElement('hr');
          downloadLinks.appendChild(hr);
        }

        // Load video khác
        const reloadButton = document.createElement('button');
        reloadButton.className = 'btn btn-secondary button-reload';
        reloadButton.innerHTML = '<i class="fas fa-redo"></i> <%= __('button_load')%> ';
        reloadButton.addEventListener('click', () => {
          window.location.reload(true);
        });
        downloadLinks.appendChild(reloadButton);

        // Hide loading modal
        $('#loadingModal').modal('hide');
      } catch (error) {
        console.error('Error fetching video data:', error);
        errorMessage.textContent = 'An error occurred while fetching video data.';
        errorMessage.style.display = 'block';
        $('#loadingModal').modal('hide');
      }
    });
  </script>
</main>

  <!-- Giới thiệu-->
<div class="containerss">
  <h1 class="title center"><%= __('introduce_title1')%></h1>
  <p><strong><%= __('introduce_title2')%></strong><%= __('introduce-1')%></p>
  <div class="features">
    <div class="feature">
      <div class="feature-header">
        <img src="https://fdownloader.net/fdownloader/imgs/clock.png" alt="Đơn giản và Nhanh chóng">
        <b><%= __('introduce_title3')%></b>
      </div>
      <p><%= __('introduce-2')%></p>
    </div>
    <div class="feature">
      <div class="feature-header">
        <img src="https://fdownloader.net/fdownloader/imgs/fb.png" alt="Video chất lượng cao">
        <b><%= __('introduce_title4')%></b>
      </div>
      <p><%= __('introduce-3')%></p>
    </div>
    <div class="feature">
      <div class="feature-header">
        <img src="https://fdownloader.net/fdownloader/imgs/coin.png"  alt="Miễn phí mãi mãi">
        <b><%= __('introduce_title5')%></b>
      </div>
      <p><%= __('introduce-4')%></p>
    </div>
  </div>
</div>

<!--Hướng dẫn sử dụng -->
<div id="renderGuide" class="containerss">
  <h2 class="title center"><%= __('guide_title')%></h2>
  <ul class="listicon liststep">
    <li><span class="number">1</span> <span><%= __('guide_steps-1')%></span></li>
    <li><span class="number">2</span> <span><%= __('guide_steps-2')%></span>
    </li><li><span class="number">3</span> <span><%= __('guide_steps-3')%></span></li>
  </ul>
</div>

<!--Tinh năng-->
<div class="containersss">
  <h3 style="color: #ffffff"><b><%= __('feature_title')%></b></h3>
  <div class="featuress">
    <div class="feature-item"><%= __('feature-1')%></div>
    <div class="feature-item"><%= __('feature-2')%></div>
    <div class="feature-item"><%= __('feature-3')%></div>
    <div class="feature-item"><%= __('feature-4')%></div>
    <div class="feature-item"><%= __('feature-5')%></div>
    <div class="feature-item"><%= __('feature-6')%></div>
  </div>
</div>

<div class="containerss">
  <h1 class="title center"><%= __('content_title')%></h1>
  <p><strong><%= __('content-1')%></strong><%= __('content-2')%></p>
  <p><%= __('content-3')%></p>
</div>

<!--Hỏi và đáp-->
<div class="containers ">
  <h2 class="title center"><%= __('faq_title')%></h2>
  <div class="accordion" id="faqAccordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-labelledby="headingOne" aria-controls="collapseOne">
            <%= __('question-1')%>
            <i class="fas fa-chevron-down float-end"></i>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#faqAccordion">
        <div class="card-body fst-italic text-primary fs-8">
          <%= __('answer-1')%>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <%= __('question-2')%>
            <i class="fas fa-chevron-down float-end"></i>
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqAccordion">
        <div class="card-body fst-italic text-primary fs-8">
          <%= __('answer-2')%>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <%= __('question-3')%>
            <i class="fas fa-chevron-down float-end"></i>
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqAccordion">
        <div class="card-body fst-italic text-primary fs-8">
          <%= __('answer-3')%>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <%= __('question-4')%>
            <i class="fas fa-chevron-down float-end"></i>
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqAccordion">
        <div class="card-body fst-italic text-primary fs-8">
          <%= __('answer-4')%>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <%= __('question-5')%>
            <i class="fas fa-chevron-down float-end"></i>
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqAccordion">
        <div class="card-body fst-italic text-primary fs-8">
          <%= __('answer-5')%>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSix">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            <%= __('question-6')%>
            <i class="fas fa-chevron-down float-end"></i>
          </button>
        </h5>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#faqAccordion">
        <div class="card-body fst-italic text-primary fs-8">
          <%= __('answer-6')%>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSeven">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            <%= __('question-7')%>
            <i class="fas fa-chevron-down float-end"></i>
          </button>
        </h5>
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#faqAccordion">
        <div class="card-body fst-italic text-primary fs-8">
          <%= __('answer-7')%>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingEight">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            <%= __('question-8')%>
            <i class="fas fa-chevron-down float-end"></i>
          </button>
        </h5>
      </div>
      <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#faqAccordion">
        <div class="card-body fst-italic text-primary fs-8">
          <%= __('answer-8')%>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Phần Footer -->
<footer class="text-center text-sm-start" style="background-color: #f0f8ff">
  <div class="container">
    <div class="text-center p-4">
      © 2024 FbLink.id - All rights reserved.
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
